.contAbout{
    width: 100%;
    padding-top: 8rem;
    box-sizing: border-box;
}

.contentAbout{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.titleAbout{
    color: white;
    font-family: 'Libre Caslon Text', serif;
    font-size: 75px;
    position: relative;
    width: 30%;
    box-sizing: border-box;
}

.textAbout{
    width: 70%;
    padding-left: 200px;
    transform: translateY(9rem);
    box-sizing: border-box;
    color: white;
    font-size: 18px;
    font-family: 'Gotham', sans-serif;
    line-height: 32px;
    box-sizing: border-box;
}

.aboutArrow{
    display: block;
    height: 1px;
    width: 450px;
    position: absolute;
    background: white;
    left: 4rem;
    bottom: 4rem;
    transform: rotate(-45deg);
}

.aboutArrow::before{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    right: 0;
    top: -4px;
    border-top: 1px solid white;
    border-right: 1px solid white;
}

@media (max-width: 767.98px){
    .contAbout{
        padding-top: 6rem;
    }

    .titleAbout{
        margin-top: 0;
    }
    .contentAbout{
        flex-direction: column;
    }
    .titleAbout{
        width: 100%;
        margin-bottom: 1rem;
        font-size: 50px;
    }

    .textAbout{
        width: 100%;
        padding: 0;
        transform: translateY(0);
    }

    .aboutArrow{
        display: none;
    }
}