.contAbout{
    width: 100%;
    margin: 2rem 0;
    box-sizing: border-box;
}

.contentAbout{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.titleAbout{
    color: white;
    font-family: 'Libre Caslon Text', serif;
    font-size: 75px;
    position: relative;
    width: 30%;
    box-sizing: border-box;
    margin: 0;
}

.textAbout{
    width: 70%;
    padding-left: 200px;
    margin-top: 8rem;
    box-sizing: border-box;
    color: white;
    font-size: 18px;
    font-family: 'Gotham', sans-serif;
    line-height: 32px;
    box-sizing: border-box;
}

.aboutArrow{
    display: block;
    height: 1px;
    width: 450px;
    position: absolute;
    background: white;
    left: 230px;
    bottom: 300px;
    transform: rotate(-45deg);
}

.aboutArrow::before{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    right: 0;
    top: -4px;
    border-top: 1px solid white;
    border-right: 1px solid white;
}

@media (max-width: 767.98px){
    

    .titleAbout{
        margin-top: 0;
    }
    .contentAbout{
        flex-direction: column;
    }
    .titleAbout{
        width: 100%;
        margin-bottom: 1rem;
        font-size: 50px;
    }

    .textAbout{
        width: 100%;
        padding: 0;
        margin-top: 2rem;
    }

    .aboutArrow{
        display: none;
    }
}