/* Fonts */
@import url('http://fonts.cdnfonts.com/css/gotham');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  overflow-x: hidden;
}

body{
  background-color: var(--p-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



/* Colors */
:root{
  --p-color: #000000;
  --s-color: #D9042D;
}

.container{
  width: 80%;
  max-width: 1310px;
  margin: 0 auto;
}

@media (min-width: 1920px){
  .container{
    max-width: 1600px;
  }
}

#amaze-home{
  overflow: hidden;
  max-height: 100vh;
}

/* .amaze-layout{
  position: relative;
} */

.amaze-main{
  min-height: 70vh;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: #000;
}

body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}