.contProjectArchive{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contProjectsTop{
    display: flex;
    width: 100%;
    color: white;
    align-items: flex-end;
}

.contTitle{
    width: 50%;
    font-size: 50px;
    font-family: 'Libre Caslon Text', serif;
}

.contTitle h2{
    margin: 0;
}

.contCategories{
    width: 50%;
    justify-content: flex-end;
}

.contItemsCategories{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    justify-content: flex-end;
}

.contItemsCategories li{
    margin-right: 30px;
}

.contItemsCategories li:last-child{
    margin: 0;
}

.contItemsCategories li a{
    transition: .4s;
    line-height: 1.5em;
    display: block;
    /* margin-bottom: 2em; */
}

.contItemsCategories li a:hover{
    color: var(--s-color);
}

.gridProjects{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 3rem;
}

.gridProjectsItem{
    min-height: 300px;
}

.gridProjectsItemFeat{
    grid-column: 2 span;
    grid-row: 2 span;
}

.gridProjectsItemFeat{
    grid-column: 2 span;
    grid-row: 2 span;
}

.gridProjectsItemVertical{
    grid-row: 2 span;
}

.catActive{
  color: var(--s-color);
}
.catActive div span:first-child{
    width: calc(100% + 20px);
    opacity: 1;
    background-color: var(--s-color);
}

@media (max-width: 991.98px){
    .contProjectsTop{
        flex-direction: column;
    }
    .gridProjects{
        display: flex;
        flex-flow: row wrap;
        grid-gap: 0;
        gap: 0;
    }

    .gridProjectsItem{
        width: 50%;
        height: 300px;
        box-sizing: border-box;
        padding: 10px;
    }

    .contTitle h2{
        font-size: 50px;
    }

    .contTitle{
        width: 100%;
    }

    .contCategories{
        width: 100%;
    }

    .contItemsCategories{
        margin-top: 3rem;
        justify-content: flex-start;
    }
}

@media (max-width: 767.98px){
    .gridProjectsItem{
        width: 100%;
        height: 300px;
    }
    
    .contItemsCategories li a{
        margin-bottom: 2em;
    }
}