.imageTop{
    width: 100%;
    object-fit: cover;
    min-height: 100vh;
    position: relative;
}

.infoProject{
    display: flex;
    width: 100%;
    padding: 7em 0px;
    color: white;
    align-items: center;
}

.infoLeft{
    width: 50%;
}

.companyName{
    display: block;
    font-size: 20px;
    font-family: 'Gotham', sans-serif;
}

.projectName{
    display: block;
    font-family: 'Libre Caslon Text', serif;
    font-size: 50px;
}

.infoRight{
    width: 50%;
}

.descProject{
    font-size: 16px;
    font-family: 'Gotham', sans-serif;
    line-height: 25px;
}

.contGallery{
    width: 100%;
    display: block;
}

.imgStyleRight{
    display: flex;
    justify-content: flex-end;
}

.imgStyleRightCont{
    max-width: 850px;
    width: 100%;
    height: 500px;
    position: relative;
    text-align: right;
    /* margin-left: auto; */
}

.imgStyleRightCont img{
    right: 0;
}

.imgStyleLeft{
    display: flex;
    justify-content: flex-start;
    margin-top: 5em;
}

.imgStyleLeftCont{
    max-width: 850px;
    width: 100%;
    height: 500px;
    position: relative;
    text-align: left;
    /* margin-left: auto; */
}

.imgStyleLeftCont img{
    left: 0;
}

.imgStyleDuo{
    width: 100%;
    display: flex;
    margin-top: 5em;
}

.imgStyleDuoLeft{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgStyleDuoLeftCont{
    max-width: 450px;
    width: 100%;
    height: 300px;
    position: relative;
}

.imgStyleDuoRight{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgStyleDuoRightCont{
    max-width: 450px;
    width: 100%;
    height: 300px;
    position: relative;
    margin-top: 10em;
}

.imgStyleFull{
    width: 100%;
}

.imgStyleFullCont{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 7em;
}