.imageTop{
    width: 100%;
    height: 100vh;
    position: relative;
}

.imageTop::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .2);
    z-index: 1;
}

.infoProject{
    display: flex;
    width: 100%;
    padding: 7em 0px;
    color: white;
    align-items: center;
}

.infoLeft{
    width: 50%;
}

.companyName{
    display: block;
    font-size: 20px;
    font-family: 'Gotham', sans-serif;
}

.projectName{
    display: block;
    font-family: 'Libre Caslon Text', serif;
    font-size: 50px;
}

.infoRight{
    width: 50%;
}

.descProject{
    font-size: 16px;
    font-family: 'Gotham', sans-serif;
    line-height: 25px;
}

.contGallery{
    width: 100%;
    display: block;
}

.imgStyleRight{
    display: flex;
    justify-content: flex-end;
}

.imgLink, .videoLink{
    display: flex;
}

.imgLink:nth-child(2n+1), .videoLink:nth-child(2n+1){
    justify-content: flex-end;
}

.imgLink:nth-child(2n), .videoLink:nth-child(2n){
    justify-content: center;
}

.imgLink:nth-child(3n), .videoLink:nth-child(3n){
    justify-content: flex-start;
}

.imgItem{
    position: relative;
    width: 100%;
    max-width: 600px;
    cursor: pointer;
    margin-bottom: 5rem;
}

.imgGallery{
    width: 100%;
}

.coverVideo{
    width: 100vw;
    height: 100vh;
    object-fit: cover;

}

.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .9);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.lightboxWrap{
    width: 90%;
    max-width: 800px;
    height: 90vh;
    position: relative;
}

.contButton{
    position: absolute;
    right: 30px;
    top: 30px;
}

.videoItemGallery{
    width: 100%;
    max-width: 600px;
    margin-bottom: 5rem;
}

@media (max-width: 991.98px){
    .infoProject{
        flex-direction: column;
    }

    .infoLeft, .infoRight{
        width: 100%;
    }
}